@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
body {
    margin: 0em;
    margin-top:70px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#F9F9F9;
    color:#828282;
    font-family: 'Muli', sans-serif;
    overflow-x:hidden;
}

.main {
    padding: 12px 12px;
    margin: 4% 4% 4% 4%
}

/*Typogrophy*/

p {
    line-height: 1.7;
}
.text-contain {
    margin-left: 8.5%;
    margin-right: 8.5%;
    margin-bottom: 2%;
}
.space {
    margin-bottom:6rem;
}
h1 {
    color: #828282;
    font-family: "Raleway", Helvetica, sans-serif;
}
h2 {
    color: #828282;
    font-family: "Raleway", Helvetica, sans-serif;
}
h3 {
    color: #828282;
    font-family: "Raleway", Helvetica, sans-serif;
}
h4 {
    color: #828282;
    font-family: "Raleway", Helvetica, sans-serif;
}
h5 {
    color: #828282;
    font-family: "Raleway", Helvetica, sans-serif;
}
/*font weights*/

.f-thin {
    font-weight: 100;
}
.f-light {
    font-weight: 300;
}
.f-norm {
    font-weight: 500;
}
.f-bold {
    font-weight: 700;
}
/*Floats*/

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
/*Colors*/

.col-grey{
    color:#828282;
}
.col-white {
    --white: #fff;
}
.col-lighter {
    color: #E96868;
}
.col-light {
    color: #E75757;
}
.col-accent {
    color: #E54747;
}
.col-dark {
    color: #D14141;
}
.col-darker {
    color: #BC3B3B;
}
.sec-col-light {
    color: #4d457e;
}
.sec-col-accent {
    color: #3c3372;
}
.sec-col-dark {
    color: #2d2756;
}
.bck-col-lighter {
    background-color: #E96868;
}
.bck-col-light {
    background-color: #E75757;
}
.bck-col-accent {
    background-color: #E54747;
}
.bck-col-dark {
    background-color: #D14141;
}
.bck-col-darker {
    background-color: #BC3B3B;
}
.bck-sec-col-light {
    background-color: #4d457e;
}
.bck-sec-col-accent {
    background-color: #3c3372;
}
.bck-sec-col-dark {
    background-color: #221E41;
}
.bck-transparent {
    background-color: transparent;
}
.line {
    border-bottom: 1px solid #F1F1F1;
    width: 70%;
    padding-bottom: 12px;
}
/*Accordian*/
.accordion {
    color: #3c3372;
    padding-bottom: 8px;
    padding-top: 8px;
    cursor: pointer;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}
.accordion.active{
    color:#E54747
}
.accordion:hover {
    color:#E54747;
}
.accordion:before {
    content: '\002B';
    color: #3c3372;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.accordion.active:before {
    content: "\2212";
}
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

/*Scroll*/

.scroll::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: #D8D8D8;
    border-radius:4px;
}
.scroll {
    -ms-overflow-style:auto;
}
.scroll::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius:4px;
}

/*Navigation*/
/*Horizontal Scroll*/
.scrollmenu {
    background-color: transparent;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom:2%;
    margin:-18px 0px 0px 0px;
}

.scrollmenu a {
    display: inline-block;
    color:#fff;
    text-align: center;
    width: 34vw;
    height:230px;
    margin:12px 12px 16px 0px;
    text-decoration: none;
    border-radius:4px;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.scrollmenu a:active {
    color: #fff;
}
.info {
    text-align: center;
    width: 100%;
    height:100%; 
    background-color:rgba(5, 5, 5, 0.4);
    padding-top:25px;
}
.item{
    background-size: cover;
    background-repeat: no-repeat;
    height:230px;
}
.i1{
    background-image: url('https://unsplash.it/500/330?image=803');
}
.i2{
    background-image: url('https://unsplash.it/500/330?image=871');
}
.i3{
    background-image: url('https://unsplash.it/500/330/?image=1073');
}
.i4{
    background-image: url('https://unsplash.it/500/330?image=788');
}

.scrollmenu a h2 {
    margin-bottom:-10px;
    color:#fff;
}
.scrollmenu a p{
    font-size: 16px;
}

/*search*/
input[type=text] {
    width: 90%;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    background-color: #Fff;
    background-image: url('/icon/svg/search.svg');
    background-position: 8px 6px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.5s ease-in-out;
    outline:none;
    margin: 12px 0px 0px 0px;
    color: #828282;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#E54747;
}
input::-moz-placeholder { /* Firefox 19+ */
  color:#E54747;
}
input:-ms-input-placeholder { /* IE 10+ */
  color:#E54747;
}
input:-moz-placeholder { /* Firefox 18- */
  color:#E54747;
}
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 0px;
    margin: 0em;
    z-index: 2;
}
.navbar a {
    float: right;
    display: block;
    color: #D14141;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 17px;
}
#item/*allows me to control nav visibility*/
{
    display: inherit;
}
#mobile_menu {
    display: none;
}
.mobile-cta {
    display: none;
}
.top.navbar a {
    color: #FFF;
}
.top.navbar {
    background: none;
    box-shadow: none;
}
.top.navbar path {
    fill: #FFF;
}
.bottom_bar {
    display: none;
}
.logo {
    position: absolute;
    margin-left: 0px;
    transform: translate(6px, -14px);
    float: left;
}
.logo img {
    width: 42px;
    height: 42px;
}
.logo-text {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    float: left;
    position: absolute;
    margin-left: 15px;
    font-size: 24px;
    transform: translate(40px, 0px);
    font-family: "Raleway", Helvetica, sans-serif;
}
.icon-center{
    padding-left:40%;
}

.sidenav {
    display: none;
    overflow-y: hidden;
}
.sidenav {
    font-family: "Raleway", Helvetica, sans-serif;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #17152D;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin:0em;
}
.sidenav a {
    padding: 24px 8px 18px 26px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    text-align: center;
    letter-spacing: 6px;
}
.sidenav a:hover, .offcanvas a:focus, a:active {
    color: #e54747;
    background: #fff;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/*Buttons*/

.button {
    border: 2px solid #fCfCfC;
    background: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #fCfCfC;
    padding: 5px 18px;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 8px;
    cursor: pointer;
}
.button:hover {
    color: #E54747;
}
.button.green {
    background-color: #55A980;
    border-color: transparent;
    color: #f2f2f2;
}
.button.green:hover {
    background-color: #4E9A75;
    color: #f2f2f2;
}
.button.blue {
    background-color: #3c3372;
    border-color: transparent;
    color: #f2f2f2;
}
.button.blue:hover {
    background-color: #4d457e;
    color: #f2f2f2;
}
.border {
    border-radius: 4px 4px 4px 4px;
}
.mobile-cta {
    display: none;
}
/*Animations*/

#anim {
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-iteration-count: 2s;
}
.transition {
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.button:hover {
    background-color: white;
    color: #E54747;
}
.rise:hover {
    transform: translateY(-3px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.bounce:hover {
    transform: translateY(4px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.scale:hover {
    transform: scale(1.1);
    transition: .3s 0s all ease;
    -moz-transition: .3s 0s all ease;
    -webkit-transition: .3s 0s all ease;
}
.shadow{
-webkit-box-shadow: 0px 9px 39px -7px rgba(94,94,94,0.67);
-moz-box-shadow: 0px 9px 39px -7px rgba(94,94,94,0.67);
box-shadow: 0px 9px 39px -7px rgba(94,94,94,0.67);
}
.shadow-deep {
    -webkit-box-shadow: 0px 0px 46px 1px rgba(196, 53, 196, 1);
    -moz-box-shadow: 0px 0px 46px 1px rgba(196, 53, 196, 1);
    box-shadow: 0px 0px 46px 1px rgba(196, 53, 196, 1);
}
.shadow-blue {
    -webkit-box-shadow: 0px 7px 10px 0px rgba(45, 39, 86, 0.57);
    -moz-box-shadow: 0px 7px 10px 0px rgba(45, 39, 86, 0.57);
    box-shadow: 0px 7px 10px 0px rgba(45, 39, 86, 0.57);
}
/*Cards*/

.card {
    -webkit-box-shadow: 0px 9px 39px -7px rgba(94,94,94,0.67);
    -moz-box-shadow: 0px 9px 39px -7px rgba(94,94,94,0.67);
    box-shadow: 0px 9px 39px -7px rgba(94,94,94,0.67);
    transition: 0.3s;
    border-radius: 4px 4px 4px 4px;
    max-width: 100%;
    padding-bottom: 5px;
    margin-top: 50px;
    display: block;
    width: 100%;
    background-color: #fff;
}

.card_image {
    padding-left: 0px;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: 100%;
}

.c_head {
    color: #E54747;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    /*font-weight: bold;*/
    width: auto;
    text-align: center;
}
.c_par {
    color: #6A676D;
    text-align: center;
}
.container {
    padding: 2px 4px;
    min-width: 160px;
    width: 100%;
    overflow-x: overlay;
    display: inline-table;
    height: 225px;
}
/*Columns*/

* {
    box-sizing: border-box;
}
.col2 {
    width: 50%;
    float: left;
    padding-top: 2em;
    padding: 2%;
}
.col3 {
    width: 33.3%;
    float: left;
    margin-bottom: 2em;
    padding-top: 2em;
    padding: 2%;
}
.col4 {
    width: 25%;
    float: left;
    margin-bottom: 2em;
    padding-top: 2em;
}
.col-img {
    width: 90%;
    height: 100%;
}
@media (max-width: 750px)
/*Tablet site*/

{
.scrollmenu a {
    width: 270px;
    margin:4%;}
.scrollmenu {padding-bottom:4%;}
.scroll::-webkit-scrollbar-thumb {
    background: #E54747;
}
.scroll::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
.bottom_bar {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(107,107,107,0.43);
    -moz-box-shadow: 0px 0px 10px 1px rgba(107,107,107,0.43);
    box-shadow: 0px 0px 10px 1px rgba(107,107,107,0.43);
    display:inline-block;   
    overflow: hidden;
    list-style-type: none;
    background-color:#fff;
    position: fixed;
    bottom:0;
    margin:0;
    width: 100%;
    padding:8px;
}
.bottom_bar li {
    display:inline-block;
}
.bottom_bar li a {
    display:block;
    color:#828282;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size:10px;
}
.bottom_bar li a:focus path {fill:#E54747;}
.bottom_bar li a:focus {color:#E54747;}
:target{fill:#E54747;}

    .navbar a {
        padding: 14px 24px;
        font-size: 17px;
    }
    .main-head {
        font-size: 360%;
        font-weight: 700;
        margin-bottom:1rem;
    }
    .main {
        margin:2% 2% 2% 2%;
    }
    .col2 {
        width: 100%;
        float: left;
        margin-bottom: 8px;
        padding: 8px;
    }
    .col3 {
        width: 100%;
        float: left;
        padding: 4px;
        margin-bottom: 8px;
        padding: 2%;
    }
    .col4 {
        width: 100%;
        float: left;
        margin-bottom: 4px;
        padding: 2px;
    }
}
@media (max-width: 600px)
/* Mobile /Phablet site*/

{
    /*Typogrophy*/
    p {
        line-height: 1.7;
    }
    p-contain {
        padding: 2rem;
        margin-left: 8.5%;
        margin-right: 8.5%;
    }

    .space {
        margin: 4rem;
    }
    /*Navigation*/
    #item
    /*allows me to control nav visibility*/
    {
        display: none;
    }
    #mobile_menu {
        display: inherit;
    }
    .navbar {
        padding: 2px 0px;
    }
    .sidenav {
        display: initial;
    }
    /*Buttons*/
    .mobile-cta {
        display: initial;
    }
    .logo img {
        width: 38px;
        height: 38px;
    }
    .logo {
        transform: translate(-18px, -8px);
    }
    .logo-text {
        transform: translate(8px, 3px);
    }
    .scrollmenu a {
    height: 180px;}

    .bottom_nav_shadow{
    -webkit-box-shadow: 0px -2px 26px -6px rgba(102,102,102,1);
    -moz-box-shadow: 0px -2px 26px -6px rgba(102,102,102,1);
    box-shadow: 0px -2px 26px -6px rgba(102,102,102,1);
}
}