@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
 body {
    margin: 0em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f1f1f1;
}
#wrapper {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}
.landing-container {
    text-align: left;
    margin-top:12%;
    height: 100vh;
    margin-left: -20%;
    margin-right: 20%;
}
.main {
    padding: 12px 12px;
    margin-right: 8%;
    margin-left: 8%;
}
#footer {
    font-family: 'Muli', sans-serif;
    background: #17152d
    /*33313f*/
    ;
    color: #f1f1f1;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4%;
}
.landing-img {
    background-image: url("../images//img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: 0em;
    top: 0em;
    width: 100%;
    height:100%;
    background-position: center;
    z-index: -2;
}
#shape
{
    width: 40vw;
    height: 100vh;
    background-color: rgba(229, 72, 72, 0.60);
    position: absolute;
    -webkit-transition: width 2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 2s;
    transition-timing-function: linear;
    transform:skewX(150deg);
    -webkit-animation: mymove 6s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 6s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0%   {width: 40vw;}
    25%  {width: 50vw;}
    50%  {width: 60vw;}
    75%  {width: 50vw;}
    100% {width: 40vw;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {width: 40vw;}
    25%  {width: 50vw;}
    50%  {width: 60vw;}
    75%  {width: 50vw;}
    100% {width: 40vw;}
}
/*Typogrophy*/

p {
    color: #141411;
    font-family: 'Muli', sans-serif;
    line-height: 1.7;
}
.text-contain {
    margin-left: 8.5%;
    margin-right: 8.5%;
    margin-bottom: 2%;
}
.main-head {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 6em;
    font-weight: 700;
    margin-bottom:4rem;
    color:#F1F1F1;
}
.space {
    margin-bottom:6rem;
}
h1 {
    color: #141411;
    font-family: "Raleway", Helvetica, sans-serif;
}
h2 {
    color: #141411;
    font-family: "Raleway", Helvetica, sans-serif;
}
h3 {
    color: #141411;
    font-family: "Raleway", Helvetica, sans-serif;
}
h4 {
    color: #141411;
    font-family: "Raleway", Helvetica, sans-serif;
}
h5 {
    color: #141411;
    font-family: "Raleway", Helvetica, sans-serif;
}
/*font weights*/

.f-thin {
    font-weight: 100;
}
.f-light {
    font-weight: 300;
}
.f-norm {
    font-weight: 500;
}
.f-bold {
    font-weight: 700;
}
/*Floats*/

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
/*Colors*/

.col-grey{
    --black:#141411;
}
.col-white {
    --white: #f1f1f1;
}
.col-lighter {
    color: #E96868;
}
.col-light {
    color: #E75757;
}
.col-accent {
    color: #E54747;
}
.col-dark {
    color: #D14141;
}
.col-darker {
    color: #BC3B3B;
}
.sec-col-light {
    color: #4d457e;
}
.sec-col-accent {
    color: #3c3372;
}
.sec-col-dark {
    color: #2d2756;
}
.bck-col-lighter {
    background-color: #E96868;
}
.bck-col-light {
    background-color: #E75757;
}
.bck-col-accent {
    background-color: #E54747;
}
.bck-col-dark {
    background-color: #D14141;
}
.bck-col-darker {
    background-color: #BC3B3B;
}
.bck-sec-col-light {
    background-color: #4d457e;
}
.bck-sec-col-accent {
    background-color: #3c3372;
}
.bck-sec-col-dark {
    background-color: #221E41;
}
.bck-transparent {
    background-color: transparent;
}
.line {
    border-bottom: 1px solid #F1F1F1;
    width: 70%;
    padding-bottom: 12px;
}
/*Accordian*/

/*button*/

.accordion {
    color: #3c3372;
    padding-bottom: 8px;
    padding-top: 8px;
    cursor: pointer;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}
/*button*/

.accordion.active{
    color:#E54747
}

.accordion:hover {
    color:#E54747;
}
/*button*/

.accordion:before {
    content: '\002B';
    color: #141411;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
/*button*/

.accordion.active:before {
    content: "\2212";
}
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
/*Navigation*/

.navbar {
    /*font-family: "Raleway", Helvetica, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 0px;
    margin: 0em;
    z-index: 2;
}
.navbar a {
    float: right;
    display: block;
    color: #141411;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 17px;
    border-bottom:2px solid transparent;
}
#item:hover {
    color: #E54747;
    border-bottom:2px solid #E54747;
}
#item/*allows me to control nav visibility*/
{
    display: inherit;
    border-bottom:2px solid transparent;
}
#mobile_menu {
    display: none;
}
.mobile-cta {
    display: none;
}
.top.navbar a {
    color: #f1f1f1;
}
.top.navbar {
    background: none;
    box-shadow: none;
}
.top.navbar path {
    fill: #f1f1f1;
}
.logo {
    position: absolute;
    margin-left: 0px;
    transform: translate(6px, -14px);
    float: left;
}
.logo img {
    width: 42px;
    height: 42px;
}
.logo-text {
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    float: left;
    position: absolute;
    margin-left: 15px;
    font-size: 24px;
    transform: translate(40px, 0px);
    font-family: "Raleway", Helvetica, sans-serif;
}
.icon-center{
    padding-left:40%;
}

.sidenav {
    display: none;
    overflow-y: hidden;
}
.sidenav {
    font-family: "Raleway", Helvetica, sans-serif;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #141411;
    overflow: hidden;
    transition: 0.2s;
    padding-top: 60px;
    margin:0em;
}
.sidenav a {
    padding: 24px 8px 18px 26px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    text-align: center;
    letter-spacing: 6px;
}
.sidenav a:hover, .offcanvas a:focus, a:active {
    color: #e54747;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/*Buttons*/

.button {
    border: 2px solid #fCfCfC;
    background: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #fCfCfC;
    padding: 5px 18px;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 8px;
    cursor: pointer;
}

.button.black {
    background-color: #141411;
    border-color: transparent;
    color: #f1f1f1;
}
.button.button.black:hover {
    background-color: #f1f1f1;
    border-color: #E54747;
}
.border {
    border-radius: 4px 4px 4px 4px;
}
.mobile-cta {
    display: none;
}
/*Animations*/

#anim {
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-iteration-count: 2s;
}
.transition {
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.button:hover {
    background-color: white;
    color: #E54747;
}
.rise:hover {
    transform: translateY(-3px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.bounce:hover {
    transform: translateY(4px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.scale:hover {
    transform: scale(1.1);
    transition: .3s 0s all ease;
    -moz-transition: .3s 0s all ease;
    -webkit-transition: .3s 0s all ease;
}
.hover:hover{
  background: -webkit-linear-gradient(left, #f1f1f1 , #E96868); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f1f1f1, #E96868); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f1f1f1, #E96868); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f1f1f1 , #E96868); /* Standard syntax */
}

.shadow {
    -webkit-box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
    -moz-box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
    box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
}
/*Cards*/
.card {
    /* Add shadows to create the "card" effect */
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    border-radius: 0px 0px 0px 0px;
    max-width: 100%;
    padding-bottom: 5px;
    margin-top: 50px;
    display: block;
    width: 100%;
    background-color: #f1f1f1;
}
.card:hover {
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.40);
}

.card_image {
    padding-left: 0px;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

.c_head {
    color: #E54747;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    /*font-weight: bold;*/
    width: auto;
    text-align: center;
}
.c_par {
    color: #141411;
    text-align: center;
}
.container {
    padding: 2px 4px;
    min-width: 160px;
    width: 100%;
    overflow-x: overlay;
    display: inline-table;
    height: 225px;
}
/*Columns*/

* {
    box-sizing: border-box;
}
.col2 {
    width: 50%;
    float: left;
    padding-top: 2em;
    padding: 2%;
}
.col3 {
    width: 33.3%;
    float: left;
    margin-bottom: 2em;
    padding-top: 2em;
    padding: 2%;
}
.col4 {
    width: 25%;
    float: left;
    margin-bottom: 2em;
    padding-top: 2em;
}
.col-img {
    width: 90%;
    height: 100%;
}
@media (max-width: 750px)
/*Tablet site*/

{
    .landing-img {
        background-image: url("../images//img2.jpg");
    }
    .navbar a {
        padding: 14px 24px;
        font-size: 17px;
    }
    .main-head {
        font-size: 360%;
        font-weight: 700;
        margin-bottom:1rem;
    }
    .main {
        /*padding: 12px 12px;*/
        margin-right: 2%;
        margin-left: 2%;
    }
    .landing-container {
        text-align: left;
        margin-top: 8%;
        margin-left: 8%;
        margin-right: 8%;
        /*margin-bottom: 24%;*/
    }
    .col2 {
        width: 100%;
        float: left;
        margin-bottom: 8px;
        padding: 8px;
    }
    .col3 {
        width: 100%;
        float: left;
        padding: 4px;
        margin-bottom: 8px;
        padding: 2%;
    }
    .col4 {
        width: 100%;
        float: left;
        margin-bottom: 4px;
        padding: 2px;
    }
}
@media (max-width: 600px)
/* Mobile /Phablet site*/

{
    .landing-img {
        background-image: url("../images//img2.jpg");
    }
    .landing-container {
        text-align: left;
        margin-top: -5%;
        margin-left: 2%;
        margin-right: 2%;
        /*margin-bottom: 18%;*/
    }
    /*Typogrophy*/
    p {
        color: #141411;
        font-family: "Raleway", Helvetica, sans-serif;
        line-height: 1.7;
    }
    p-contain {
        padding: 2rem;
        margin-left: 8.5%;
        margin-right: 8.5%;
    }
    .main-head {
        font-size: 220%;
        font-weight: 700;
    }
    .space {
        margin: 4rem;
    }
    /*Navigation*/
    #item
    {
        display: none;
    }
    #mobile_menu {
        display: inherit;
    }
    .navbar {
        padding: 2px 0px;
    }
    .sidenav {
        display: initial;
    }
    /*Buttons*/
    .mobile-cta {
        display: initial;
    }
    .logo img {
        width: 38px;
        height: 38px;
    }
    .logo {
        transform: translate(-18px, -8px);
    }
    .logo-text {
        transform: translate(8px, 3px);
    }
}