@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');
body {
    margin: 0em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.col-lighter{color:#E96868;}
.col-light{color:#E75757;}
.col-accent{color:#E54747;}
.col-dark{color:#D14141;}
.col-darker{color:#BC3B3B;}
.sec-col-light{color:#383457;}
.sec-col-accent{color:#252047;}
.sec-col-dark{color:#221E41;}
.bck-col-lighter{background-color:#E96868;}
.bck-col-light{background-color:#E75757;}
.bck-col-accent{background-color:#E54747;}
.bck-col-dark{background-color:#D14141;}
.bck-col-darker{background-color:#BC3B3B;}
.bck-sec-col-light{background-color:#383457;}
.bck-sec-col-accent{background-color:#252047;}
.bck-sec-col-dark{background-color:#221E41;}
.bck-transparent{background-color: transparent;}

.shadow {
    -webkit-box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
    -moz-box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
     box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
}
.shadow2{
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.49);
}
.landing {
    background-image: url("../images//landing_image_desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: -1;
}

.logo {
    position: absolute;
    top: 9px;
    transform: translate(-40px, -20px);
}
#mobile_menu {
    display: none;
}
#mobile-cta {
    display: none;
}
 svg {
        display: none;
    }
.nav_ul {
    list-style-type: none;
    padding: 15px 28px;
    overflow: hidden;
    top: 0;
    margin: 0em;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 3;
    transition: .5s 0s all ease;
}
.nav_ul li a {
    float: right;
    color: white;
    padding: 10px 28px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
}
.nav_ul .item {
    cursor: pointer;
    border: 2px solid transparent;
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.nav_ul .item:hover {
    background-color: white;
    color: #E54747;
}
.text_centre {
    text-align: center;
    margin-bottom: 0px;
}
h1{
    color: #fCfCfC;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 460%;
    font-weight: 400;
    width: auto;
    text-align: center;
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 20%;
}
h2 {
    color: #fCfCfC;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 300;
    width: auto;
    text-align: center;
    margin-top: 40px;
}
h3 {
    color: #fCfCfC;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: auto;
    text-align: center;
    margin-top: 40px;
}h4 {
    color: #fCfCfC;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 300;
    width: auto;
    text-align: center;
    margin-top: 40px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18;
    font-weight: 300;
    text-align: center;
    color: #fCfCfC;
    margin-right: 12.5%;
    margin-left: 12.5%;
    line-height: 33px;
}
.ptweak{
    font-size:18px;        
    font-weight:400;
    text-align:left;
    line-height:40px;
    margin-top:5%;
    margin-left: 30%;
    margin-right: 30%;
        }
#anim {
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-iteration-count: 2s;
}
.button {
    border: 2px solid white;
    color: #fCfCfC;
    padding: 10px 20px;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 8px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.button.green {
    background-color: #55A980;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    color: white;
}
.button.green:hover {
    background-color: #4E9A75;
}
.button.blue {
    background-color: #252047;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    color: white;
}
.button.blue:hover {
    background-color: #17152D;
}
.button:h.button.green {
    background-color: #55A980;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    color: white;
}
.button.green:hover {
    background-color: #4E9A75;
}
.button.blue {
    background-color: #252047;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    color: white;
}
.button.blue:hover {
    background-color: #17152D;
}over {
    background-color: white;
    color: #E54747;
}
.rise:hover {
    transform:translateY(-3px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.bounce:hover {
    transform:translateY(4px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.scale:hover  {
    transform:scale(1.1);
    transition: .3s 0s all ease;
    -moz-transition: .3s 0s all ease;
    -webkit-transition: .3s 0s all ease;
}

.border {
    border-radius: 4px 4px 4px 4px;}

.card {
    /* Add shadows to create the "card" effect */
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 6px 6px 12px 12px;
    max-width: 350px;
    max-height: 350px;
    padding-bottom: 5px;
    margin-left: 12.5%;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    background-color: #fCfCfC;
    margin: auto;
    margin-top: 30px;
}
.container {
    padding: 2px 4px;
    min-width: 140px;
    width: 100%;
    overflow-x: overlay;
    display: inline-table;
    height: 355px;
}
.c_head {
    color: #e03f3f;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    text-align: center;
}
.c_par {
    color: #2E3138;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 12px 12px;
}
*{box-sizing: border-box;
}
.columns {
    float: left;
    width: 33.3%;
    padding: 25px;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 100%;
    max-height: 100%     
}
.category-col {
    float: left;
    width: 33.3%;
    padding:5px;
    margin-bottom:2em;
    padding-top: 2em;
    min-height:350px;     
}
.price {
	font-family: 'Source Sans Pro', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    max-width:480px;
    border-radius:6px 6px 6px 6px;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.15);
}
.price:hover {
   -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.49);
   -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.49);
   box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.49);
}
.price .header {
	font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 28px;
    border-radius: 5px 5px 0px 0px;
    font-weight:bold;
}
.price li {
	font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    color: #484444;
    text-align: center;
    background-color:white;
}
.price .cost {
    font-size: 36px;
    color:#484444;
    font-weight:700;
    padding-top:24px;
}
.price .cost::after { 
    content: " /month";
    font-size:18px;
    font-weight:lighter;
    font-family: 'Source Sans Pro', sans-serif;
    color:#696666;
}

.price-button {
	font-family: 'Source Sans Pro', sans-serif;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.footer {
    font-family: 'Source Sans Pro', sans-serif;
    color: #EEE5E9;
    font-size: 12px;
    width:100%;
    height:10%;
    padding-top: 20px;
    bottom: 0px;
    text-align: center;
    background:black;
}
.sidenav {
    max-height: 100%;
    min-height: 100%;
    width: 0%;
    position: fixed;
    z-index:3;
    top: 0;
    right: 0;
    background-color: /*#3A3A3A*/ rgba(209, 66, 66, 0.96);
    padding-top: 50px;
    margin-top: 0px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    list-style-type: none;
    box-shadow: 1px 0px 14px -2px rgba(0, 0, 0, 0.66);
    -webkit-transition: width 0.2s; /* Safari */
    transition: width 0.2s;
    transition-timing-function: ease-in-out;
}
.sidenav .closebtn {
    position: absolute;
    top: 14px;
    right: 40px;
    font-size: 34px;
    font-weight:400;
    float: right;
    margin-left: 50px;
    z-index: 4;
    color:#fff;
}
.sidenav a {
    font-size:2em;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;
    font-family: "Raleway", sans-serif;
}
.sidenav_ul {
    margin-top: 15px;
    list-style-type: none;
    text-decoration: none;
    font-size: 11;
    padding: 0px;
    display: block;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.sidenav .contain {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}
.social {
    width: 33.33%;
    float: left;
    padding:2px;
}
.sidenav{
    visibility:hidden;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
@media (max-width: 650px)
/*Tablet site*/

{
    .landing {
        background-image: url("../images//landing_image_desktop2.jpg");
    }
    .nav_ul .item {
        float: right;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 12px;
        margin: 4px 8px;
        cursor: pointer;
    }
    .nav_ul .item:hover {
        background-color: white;
        color: #E54747;
    }
    .nav_ul .button {
        border: 3px solid white;
        color: #fCfCfC;
        padding: 5px 5px;
        font-size: 12px;
    }
    #mobile_menu {
        display: none;
    }
    #mobile-cta {
    display: none;
    }
    svg {
        display: none;
    }
    h1{
        text-align: left;
    }
    .ptweak{
    margin-top:16%;
    margin-left:10.5%;
    margin-right:10.5%;
    }
    .columns {
        width: 90%;
       /* margin-left:5%;
        margin-right:5%;*/
    }
    .category-col {
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 1em;
    background-color:#BC3B3B;
    border-radius: 4px;
}
}
@media (max-width: 455px)
/* Mobile /Phablet site*/

{
    .landing {
        background-image: url("../images//landing_image_mobile.jpg");
    }
    .nav_ul {
        padding: 10px 28px;
    }
    .nav_ul .item {
        float: right;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 12px;
        margin: 4px 8px;
        cursor: pointer;
        display: none;
    }
    .nav_ul .item:hover {
        background-color: white;
        color: #E54747;
    }
    .nav_ul .button {
        border: 1px solid white;
        color: #fCfCfC;
        padding: 5px 5px;
        font-size: 12px;
        display: none;
    }
    #mobile_menu {
        margin: 0px 0px;
        display: inline;
    }
    #desktop-cta {
    display:none;
    }
    #mobile-cta {
    display:initial;
    }
    .sidenav{
        overflow-y: hidden;
        visibility: visible;
    }
     .columns {
        width: 100%;
    }
     svg {
        display: inline;
    }
    .logo img {
        width: 72px;
        height: 60px;
        transform: translate(-35px, 0px);
    }
    .logo {
    position: absolute;
    top: 9px;
    transform: translate(-20px, -20px);
}
    h1{
        text-align: left;
        font-size:260%;
        margin-top:24%;
    }
    p{
        text-align: left;
    }
    .ptweak{
    text-align: left;
    margin-top:16%;
    margin-left:5.5%;
    margin-right:5.5%;
    }
}

.nav_ul.top {
    background: none;
    box-shadow: none;
}