@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');
 @import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
 body {
    margin: 0em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

#wrapper {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}
.landing-container {
    text-align: left;
    margin-top:12%;
    margin-bottom:12%;
    margin-left: 20%;
    margin-right: 20%;
}
.main {
    padding: 12px 12px;
    margin-right: 8%;
    margin-left: 8%;
    padding-bottom: 200px;
}
#footer {
    font-family: "Arial", sans-serif;
    background: #17152d
    /*33313f*/
    ;
    color: #f1f1f1;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4%;
}
.landing-img {
    background-image: url("../images//landing_image_desktop1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: 0em;
    top: 0em;
    width: 100%;
    height: 80%;
    background-position: center;
    z-index: -1;
}
/*Typogrophy*/

p {
    color: #6A676D;
    font-family: "Arial", sans-serif;
    line-height: 1.7;
}
.text-contain {
    margin-left: 8.5%;
    margin-right: 8.5%;
    margin-bottom: 2%;
}
.main-head {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 400%;
    font-weight: 700;
    margin-bottom: 4rem;
}
.space {
    margin-bottom:6rem;
}
h1 {
    color: #E54747;
    font-family: "Raleway", Helvetica, sans-serif;
}
h2 {
    color: #E54747;
    font-family: "Raleway", Helvetica, sans-serif;
}
h3 {
    color: #E54747;
    font-family: "Raleway", Helvetica, sans-serif;
}
h4 {
    color: #E54747;
    font-family: "Raleway", Helvetica, sans-serif;
}
h5 {
    color: #E54747;
    font-family: "Raleway", Helvetica, sans-serif;
}
/*font weights*/

.f-thin {
    font-weight: 100;
}
.f-light {
    font-weight: 300;
}
.f-norm {
    font-weight: 500;
}
.f-bold {
    font-weight: 700;
}
/*Floats*/

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
/*Colors*/

.col-grey{
    color:#6A676D;
}
.col-white {
    --white: #fff;
}
.col-lighter {
    color: #E96868;
}
.col-light {
    color: #E75757;
}
.col-accent {
    color: #E54747;
}
.col-dark {
    color: #D14141;
}
.col-darker {
    color: #BC3B3B;
}
.sec-col-light {
    color: #4d457e;
}
.sec-col-accent {
    color: #3c3372;
}
.sec-col-dark {
    color: #2d2756;
}
.bck-col-lighter {
    background-color: #E96868;
}
.bck-col-light {
    background-color: #E75757;
}
.bck-col-accent {
    background-color: #E54747;
}
.bck-col-dark {
    background-color: #D14141;
}
.bck-col-darker {
    background-color: #BC3B3B;
}
.bck-sec-col-light {
    background-color: #4d457e;
}
.bck-sec-col-accent {
    background-color: #3c3372;
}
.bck-sec-col-dark {
    background-color: #221E41;
}
.bck-transparent {
    background-color: transparent;
}
.line {
    border-bottom: 1px solid #2d2756;
    width: 70%;
    padding-bottom: 12px;
}
/*Accordian*/

/*button*/

.accordion {
    color: #2DEDC3;
    padding-bottom: 8px;
    padding-top: 8px;
    cursor: pointer;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}
/*button*/

.accordion: hover {
    color: #fff;
}
/*button*/

.accordion: before {
    content: '\002B';
    color: #3c3372;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
/*button*/

.accordion.active: before {
    content: "\2212";
}
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
/*Navigation*/

.navbar {
    /*font-family: "Raleway", Helvetica, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 0px;
    margin: 0em;
    z-index: 2;
}
.navbar a {
    float: right;
    display: block;
    color: #D14141;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 17px;
}
#item/*allows me to control nav visibility*/
{
    display: inherit;
}
#mobile_menu {
    display: none;
}
.mobile-cta {
    display: none;
}
.top.navbar a {
    color: #6A676D;
}
.top.navbar {
    background: none;
    box-shadow: none;
}
.top.navbar path {
    fill: #6A676D;
}
.logo {
    position: absolute;
    margin-left: 0px;
    transform: translate(6px, -14px);
    float: left;
}
.logo img {
    width: 42px;
    height: 42px;
}
.logo-text {
    color:#6A676D;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    float: left;
    position: absolute;
    margin-left: 15px;
    font-size: 24px;
    transform: translate(40px, 0px);
    font-family: "Raleway", Helvetica, sans-serif;
}
.icon-center{
    padding-left:45%;
}

.sidenav {
    display: none;
    overflow-y: hidden;
}
.sidenav {
    font-family: "Raleway", Helvetica, sans-serif;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #17152D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 24px 8px 18px 26px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    text-align: center;
    letter-spacing: 6px;
}
.sidenav a: hover, .offcanvas a: focus, a: active {
    color: #e54747;
    background: #fff;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/*Buttons*/

.button {
    border: 2px solid #fCfCfC;
    background: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #fCfCfC;
    padding: 5px 18px;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 8px;
    cursor: pointer;
}
.button:hover {
    background-color: black;
    color: #E54747;
}
.button.green {
    background-color: #55A980;
    border-color: transparent;
    color: #f2f2f2;
}
.button.green:hover {
    background-color: #4E9A75;
    color: #f2f2f2;
}
.button.blue {
    background-color: #3c3372;
    border-color: transparent;
    color: #f2f2f2;
}
.button.blue:hover {
    background-color: #2d2756;
    color: #f2f2f2;
}
.border {
    border-radius: 4px 4px 4px 4px;
}
.mobile-cta {
    display: none;
}
/*Animations*/

#anim {
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-iteration-count: 2s;
}
.transition {
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.button:hover {
    background-color: white;
    color: #E54747;
}
.rise:hover {
    transform: translateY(-3px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.bounce:hover {
    transform: translateY(4px);
    transition: .5s 0s all ease;
    -moz-transition: .5s 0s all ease;
    -webkit-transition: .5s 0s all ease;
}
.scale:hover {
    transform: scale(1.1);
    transition: .3s 0s all ease;
    -moz-transition: .3s 0s all ease;
    -webkit-transition: .3s 0s all ease;
}
.shadow {
    -webkit-box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
    -moz-box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
    box-shadow: 0px 2px 7px -2px rgba(31, 31, 31, 0.67);
}
.shadow-deep {
    -webkit-box-shadow: 0px 0px 46px 1px rgba(196, 53, 196, 1);
    -moz-box-shadow: 0px 0px 46px 1px rgba(196, 53, 196, 1);
    box-shadow: 0px 0px 46px 1px rgba(196, 53, 196, 1);
}
.shadow-blue {
    -webkit-box-shadow: 0px 7px 10px 0px rgba(45, 39, 86, 0.57);
    -moz-box-shadow: 0px 7px 10px 0px rgba(45, 39, 86, 0.57);
    box-shadow: 0px 7px 10px 0px rgba(45, 39, 86, 0.57);
}
/*Cards*/

.card {
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    border-radius: 4px 4px 4px 4px;
    max-width: 100%;
    padding-bottom: 5px;
    margin-top: 50px;
    display: block;
    width: 100%;
    background-color: #2d2756;
    border: 4px solid transparent;
}
.card:hover {
  border: 4px solid #E54747;
}

.card_image {
    padding-left: 0px;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: 100%;
}
.c_head {
    color: #E54747;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    width: auto;
    text-align: center;
}
.c_par {
    color: #fff;
    text-align: center;
}
.container {
    padding: 2px 4px;
    min-width: 160px;
    width: 100%;
    overflow-x: overlay;
    display: inline-table;
    height: 225px;
}
/*Columns*/

* {
    box-sizing: border-box;
}
.col2 {
    width: 50%;
    float: left;
    padding-top: 2em;
    padding: 2%;
}
.col3 {
    width: 33.3%;
    float: left;
    margin-bottom: 2em;
    padding-top: 2em;
    padding: 2%;
}
.col4 {
    width: 25%;
    float: left;
    margin-bottom: 2em;
    padding-top: 2em;
}
.price {
    font-family: 'Source Sans Pro', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price .header {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 28px;
    border-radius: 5px 5px 0px 0px;
    font-weight:bold;
}
.price li {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    color: #fff;
    text-align: center;
    background-color:#2d2756;
}
.price .cost {
    font-size: 36px;
    color:#fff;
    font-weight:700;
    padding-top:24px;
}
.price .cost::after { 
    content: " /month";
    font-size:18px;
    font-weight:lighter;
    font-family: 'Source Sans Pro', sans-serif;
    color:#fff;
}
@media (max-width: 650px)
/*Tablet site*/

{
    .landing-img {
        background-image: url("../images//landing_image_desktop.jpg");
    }
    .navbar a {
        padding: 14px 24px;
        font-size: 17px;
    }
    .main-head {
        font-size: 340%;
        font-weight: 700;
    }
    .main {
        padding: 12px 12px;
        margin-right: 4%;
        margin-left: 4%;
    }
    .landing-container {
        text-align: left;
        margin-top: 8%;
        margin-left: 8%;
        margin-right: 8s%;
        margin-bottom: 4rem;
    }
    .col2 {
        width: 50%;
        float: left;
        margin-bottom: 8px;
        padding: 8px;
    }
    .col3 {
        width: 100%;
        float: left;
        padding: 4px;
        margin-bottom: 8px;
        padding: 2%;
    }
    .col4 {
        width: 100%;
        float: left;
        margin-bottom: 4px;
        padding: 2px;
    }
}
@media (max-width: 544px)
/* Mobile /Phablet site*/

{
    .landing-img {
        background-image: url("../images//landing_image_mobile.jpg");
    }
    .landing-container {
        text-align: left;
        margin-top: 8%;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 4rem;
    }
    /*Typogrophy*/
    p {
        color:#6A676D;
        font-family: "Raleway", Helvetica, sans-serif;
        line-height: 1.7;
    }
    p-contain {
        padding: 2rem;
        margin-left: 8.5%;
        margin-right: 8.5%;
    }
    .main-head {
        font-size: 240%;
        font-weight: 700;
    }
    .space {
        margin: 4rem;
    }
    /*Navigation*/
    #item
    /*allows me to control nav visibility*/
    {
        display: none;
    }
    #mobile_menu {
        display: inherit;
    }
    .navbar {
        padding: 2px 0px;
    }
    .sidenav {
        display: initial;
    }
    /*Buttons*/
    .mobile-cta {
        display: initial;
    }
    .logo img {
        width: 38px;
        height: 38px;
    }
    .logo {
        transform: translate(-18px, -8px);
    }
    .logo-text {
        transform: translate(8px, 3px);
    }
}